* {
    color: white;
}

@font-face {
    font-family: 'PoppinsM';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsR';
    src: url('../fonts/Poppins-Regular.ttf');
}

.ingredientstitle {
    color: white;
    text-align: center;
    font-family: PoppinsR;
    font-size: 1.5em;
    border-bottom: 2px solid;
    width: fit-content;
    color: white;
    margin-top: 30px;
    text-align: center;
}

.ingredients {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 40px 20px;
    overflow-x: scroll;
}

.ingredients img {
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 20px;
}

.selected {
    border: 2px solid #c19e4f;
    border-radius: 20px;
    margin-bottom: 20px;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px;
    padding: 30px;
}

.recipe {
    padding-bottom: 15px;
    border-radius: 0px;
    width: 400px;
    height: fit-content;
    border: 1px solid wheat;
    border-top: none;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.recipe .recipeInfo {
    padding: 5px 15px;
}

.recipe .image img {
    width: 100%;
    height: auto;
}

.Ingredients {
    margin-bottom: 30px;
}

.btnLink {
    text-decoration: none;
    font-size: 1vw;
    background-color: #c84917;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
}