@font-face {
    font-family: 'PoppinsM';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsR';
    src: url('../fonts/Poppins-Regular.ttf');
}

.popularRecipes {
    color: white;
    font-family: PoppinsR;
    font-size: 2em;
    border-bottom: 2px solid;
    width: fit-content;
    color: white;
    margin-bottom: 5%;
    overflow-x: hidden;
}

.cardss {
    margin-left: 20px;
    margin-bottom: 5%;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    font-family: PoppinsR;
}


.cardd p {
    text-align: start;
    margin: 0px;
    margin-left: 15px;
    margin-bottom: 5px;
    width: fit-content;
    color: white;
}

.cardd .image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.recipebutton {
    width: 50%;
    text-decoration: none;
    font-size: 1vw;
    background-color: #c84917;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
}