@font-face {
    font-family: 'PoppinsM';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsR';
    src: url('../fonts/Poppins-Regular.ttf');
}

.popularRecipes {
    color: white;
    font-family: PoppinsR;
    font-size: 2em;
    border-bottom: 2px solid;
    width: fit-content;
    color: white;
    /* margin-top: 10%; */
    margin-bottom: 5%;
    overflow-x: hidden;
}

.cardss {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: 100%;
    font-family: PoppinsR;
    overflow-x: hidden;
}

.cardd {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    border-radius: 20px;
    color: black;
    border: 1px solid #a22f00;
    border-top: none;
    overflow-x: hidden;
}

.cardd p {
    text-align: start;
    margin: 0px;
    margin-left: 15px;
    margin-bottom: 5px;
    width: fit-content;
    color: white;
}

.cardd .image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

button {
    width: fit-content;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #a22f00;
    border: none;
    color: white;

}