@font-face {
    font-family: 'PoppinsM';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsR';
    src: url('../fonts/Poppins-Regular.ttf');
}

.details {
    font-family: PoppinsR;
    color: white;
    margin: 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.info {
    padding: 0px 20px;
}

.info .name {
    font-family: PoppinsM;
    font-size: 3rem;
}

.info .name::after {
    overflow: hidden;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    top: 25%;
    z-index: -1;
    height: 0.4em;
    width: 80%;
    left: 2%;
    background: linear-gradient(65deg, #a22f00 0%, #fdca1c 100%, rgba(255, 209, 0, 0) 100%);
}

.Recipeimg {
    margin-left: 5%;
}

.Recipeimg img {
    border-radius: 50px;
    /* width: 400px; */
    /* height: 400px; */
}

#min {
    display: none;
}

@media screen and (max-width: 1000px) {
    #min {
        display: block;
    }
    #max {
        display: none;
    }
    .details {
        flex-direction: column;
    }

    .info .name::after {
        top: 73%;
        left: 5%;
        width: 40%;
    }
    .Recipeimg img {
        width: 25em;
        height: 25em;
    }
    
}